In [1]:
# import libraries

import pandas as pd
import numpy as np
import re

from nltk.tokenize import sent_tokenize, word_tokenize, RegexpTokenizer
from nltk.stem import WordNetLemmatizer

In [2]:
# read in the clean dataset

df = pd.read_csv('/Users/juhee/Desktop/GA/lsmtmp/juhee/data/cleaned.csv')

In [3]:
print(df.shape)

df.head(3)

(39544, 6)

,id,text,user_name,date,lat,long
0,1241152458912673794,TK Kirkland's Reaction To Earthquake's Ex-Wife...,DarkDon_,2020-03-20 23:59:40+00:00,40.738154,-112.101609
1,1241152416214474753,That sound you hear is NOT an earthquake. It’s...,ReallyInID,2020-03-20 23:59:30+00:00,42.242918,-112.103304
2,1241152284827856896,he said he stocked up on ammo cause he knew Th...,folsworth,2020-03-20 23:58:58+00:00,40.982162,-112.104020

In [4]:
## count sentences in each tweet (row)

# set up an emty list for sentence counts

n_sentence = []

# iterate through the text column

for i in range(len(df['text'])):
    
    n_sentence.append(len(sent_tokenize(df['text'][i].lower())))
    
# store it in the dataframe

df['n_sentence'] = n_sentence

In [5]:
# instantiate lemmatizer and tokenizer

lemmatizer = WordNetLemmatizer()
tokenizer = RegexpTokenizer(r'\w+|\$[\d\.]+|\S+')

In [6]:
## tokenize and lemmatize

# create a column 'text_clean'

df['text_clean'] = ''

# iterate through each row in the column text_all
    
for i in range(len(df['text'])):
        
    # tokenize each word in text into its own string
    text_token = []
    text_token.extend(tokenizer.tokenize(df['text'][i].lower()))
    text_tokens = []
    [text_tokens.append(word) for word in text_token if word not in text_tokens]
        
    # lemmatize the words
    text_lemmatize = []
    for j in range(len(text_tokens)):
        text_lemmatize.append(lemmatizer.lemmatize(text_tokens[j]))
        
    # remove characters and numbers
    clean_text = []
    for k in range(len(text_lemmatize)):
        clean_text.append(re.sub('[^a-zA-Z]', '', text_lemmatize[k]))    
        
    # group them together
    texts_collection = [text for text in clean_text]
    
    # put the words back to one long string for vectorization
    texts_collection = ' '.join(texts_collection)

    # fill new column
    df['text_clean'][i] = texts_collection

/Users/juhee/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
## count words in each tweet (row)

# set up an empty list for word counts

n_words = []

# iterate through the text column

for i in range(len(df['text_clean'])):
    
    word_tokens = tokenizer.tokenize(df['text_clean'][i])
    cnt = len(word_tokens)
    n_words.append(cnt)
    
# store it in the dataframe

df['n_words'] = n_words

In [8]:
df.head()

,id,text,user_name,date,lat,long,n_sentence,text_clean,n_words
0,1241152458912673794,TK Kirkland's Reaction To Earthquake's Ex-Wife...,DarkDon_,2020-03-20 23:59:40+00:00,40.738154,-112.101609,1,tk kirkland s reaction to earthquake ex wife o...,17
1,1241152416214474753,That sound you hear is NOT an earthquake. It’s...,ReallyInID,2020-03-20 23:59:30+00:00,42.242918,-112.103304,2,that sound you hear is not an earthquake it s...,13
2,1241152284827856896,he said he stocked up on ammo cause he knew Th...,folsworth,2020-03-20 23:58:58+00:00,40.982162,-112.104020,2,he said stocked up on ammo cause knew the big ...,23
3,1241152178695405570,"If an earthquake separates CA, WA, and OR from...",Colony14,2020-03-20 23:58:33+00:00,42.729481,-112.107004,1,if an earthquake separate ca wa and or from t...,23
4,1241152072818364416,"#Sismo M 4 SOUTH OF BALI, #INDONESIA. 20-03-20...",MonitorSismico,2020-03-20 23:58:08+00:00,41.044996,-112.103864,2,sismo m south of bali indonesia utc http...,13

In [9]:
# reorder the order of the columns

df = df[['id', 'user_name','lat', 'long', 'date', 'text', 'text_clean', 'n_sentence', 'n_words']]

In [10]:
df.head()

,id,user_name,lat,long,date,text,text_clean,n_sentence,n_words
0,1241152458912673794,DarkDon_,40.738154,-112.101609,2020-03-20 23:59:40+00:00,TK Kirkland's Reaction To Earthquake's Ex-Wife...,tk kirkland s reaction to earthquake ex wife o...,1,17
1,1241152416214474753,ReallyInID,42.242918,-112.103304,2020-03-20 23:59:30+00:00,That sound you hear is NOT an earthquake. It’s...,that sound you hear is not an earthquake it s...,2,13
2,1241152284827856896,folsworth,40.982162,-112.104020,2020-03-20 23:58:58+00:00,he said he stocked up on ammo cause he knew Th...,he said stocked up on ammo cause knew the big ...,2,23
3,1241152178695405570,Colony14,42.729481,-112.107004,2020-03-20 23:58:33+00:00,"If an earthquake separates CA, WA, and OR from...",if an earthquake separate ca wa and or from t...,1,23
4,1241152072818364416,MonitorSismico,41.044996,-112.103864,2020-03-20 23:58:08+00:00,"#Sismo M 4 SOUTH OF BALI, #INDONESIA. 20-03-20...",sismo m south of bali indonesia utc http...,2,13

In [11]:
# check for null values

df.isnull().sum()

id            0
user_name     0
lat           0
long          0
date          0
text          0
text_clean    0
n_sentence    0
n_words       0
dtype: int64

In [12]:
# save this dataframe to a csv file

df.to_csv('/Users/juhee/Desktop/GA/lsmtmp/juhee/data/final.csv', index = False)

In [13]:
## make your own relevant words here
# make a list of words that would automatically tag a word as relevant

relevant_words = ['earthquake']

In [14]:
# create a function to create a list of 1s and 0s

def create_target(column):    
    
    labels = []
    
    # separate each row
    for text in column:
        
        # initiate 0 as label
        label = 0
        
        # iterate through words in relevant_words
        for relevant_word in relevant_words:
            
            # if relevant_word is found in text, assign 1 as label
            # stop comparing once assigned as 1, then append it to the list
            if relevant_word in text:
                label = 1
                break
        labels.append(label)
        
    return labels

In [15]:
# check if the label is created as expected (if about 50%, then it's good!)

np.mean(create_target(df['text_clean']))

0.4953975318632409

In [16]:
# assign a column in the dataframe to capture this information

df['label'] = create_target(df['text_clean'])

In [18]:
print(df.shape)
df.head()

(39544, 10)

,id,user_name,lat,long,date,text,text_clean,n_sentence,n_words,label
0,1241152458912673794,DarkDon_,40.738154,-112.101609,2020-03-20 23:59:40+00:00,TK Kirkland's Reaction To Earthquake's Ex-Wife...,tk kirkland s reaction to earthquake ex wife o...,1,17,1
1,1241152416214474753,ReallyInID,42.242918,-112.103304,2020-03-20 23:59:30+00:00,That sound you hear is NOT an earthquake. It’s...,that sound you hear is not an earthquake it s...,2,13,1
2,1241152284827856896,folsworth,40.982162,-112.104020,2020-03-20 23:58:58+00:00,he said he stocked up on ammo cause he knew Th...,he said stocked up on ammo cause knew the big ...,2,23,1
3,1241152178695405570,Colony14,42.729481,-112.107004,2020-03-20 23:58:33+00:00,"If an earthquake separates CA, WA, and OR from...",if an earthquake separate ca wa and or from t...,1,23,1
4,1241152072818364416,MonitorSismico,41.044996,-112.103864,2020-03-20 23:58:08+00:00,"#Sismo M 4 SOUTH OF BALI, #INDONESIA. 20-03-20...",sismo m south of bali indonesia utc http...,2,13,1

In [19]:
# save this to a csv file

df.to_csv('/Users/juhee/Desktop/GA/lsmtmp/juhee/data/final_labeled.csv', index = False)